<a href="https://colab.research.google.com/github/djzts/djztscode/blob/master/Copy_of_Gloabal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 60.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=d9d262a661ff2b9b32c1b229dbf95228df1df8a51332d6178f6691b53dbb2e1b
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
pip install countrygroups

Collecting countrygroups
  Downloading countrygroups-0.13.0-py2.py3-none-any.whl (9.6 kB)
Collecting shortcountrynames
  Downloading shortcountrynames-0.9.0-py2.py3-none-any.whl (8.9 kB)
Installing collected packages: shortcountrynames, countrygroups
Successfully installed countrygroups-0.13.0 shortcountrynames-0.9.0

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
pip install pyspark[sql]

Requirement already satisfied: pyspark[sql] in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark[sql]) (0.10.9.3)
Requirement already satisfied: pandas>=0.23.2 in /usr/local/lib/python3.7/dist-packages (from pyspark[sql]) (1.1.5)
Requirement already satisfied: pyarrow>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from pyspark[sql]) (3.0.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.2->pyspark[sql]) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.2->pyspark[sql]) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.2->pyspark[sql]) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.2->pyspark[sql]) (1.15.0)

In [ ]:
pip install pyspark[pandas_on_spark] plotly

Requirement already satisfied: pyspark[pandas_on_spark] in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark[pandas_on_spark]) (0.10.9.3)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from pyspark[pandas_on_spark]) (1.19.5)
Requirement already satisfied: pandas>=0.23.2 in /usr/local/lib/python3.7/dist-packages (from pyspark[pandas_on_spark]) (1.1.5)
Requirement already satisfied: pyarrow>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from pyspark[pandas_on_spark]) (3.0.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.2->pyspark[pandas_on_spark]) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.2->pyspark[pandas_on_spark]) (2.8.2)

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [ ]:
 
df = spark.read.option("header", "true").csv("/content/Data.csv")
df.show()
#df.printSchema()

+------------+------------+--------------------+-----------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+------------------+-----------------+-----------------+----------------+----------------+----------------+------------------+------------------+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-------------------+------------------+-----------------+----------------+
|Country Name|Country Code|         Series Name|      Series Code|      1990 [YR1990]|      1991 [YR1991]|      1992 [YR1992]|      1993 [YR1993]|      1994 [YR1994]|      1995 [YR1995]|      1996 [YR1996]|      1997 [YR1997]|     1998 [YR1998]|    1999 [YR1999]|    2000 [YR2000]|   2001 [YR2001]|   2002 [YR2002]|   2003 [YR2003]|     2004 [YR2004]|     2005 [YR2005]|    2006 [YR2006]|   2007 [YR2007]|    2008 [YR2008]|    2009 [YR2009]|    2010 [YR2010]|    2011 [YR2011]|    2012 [YR2012]|      2013 [YR2013]|     2014 [YR2014]|    2015 [YR2015]|   2016 [YR2016]|
+------------+------------+--------------------+-----------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+------------------+-----------------+-----------------+----------------+----------------+----------------+------------------+------------------+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-------------------+------------------+-----------------+----------------+
| Afghanistan|         AFG|Access to electri...|   EG.ELC.ACCS.ZS|0.00999999977648258|0.00999999977648258|0.00999999977648258|0.00999999977648258|0.00999999977648258|0.00999999977648258|0.00999999977648258|0.00999999977648258|0.0219771377742291|0.179634585976601|0.959755897521973|0.77653694152832|6.26739358901977|11.7519664764404|  17.2363185882568|                23| 28.2286128997803|33.7486801147461|             42.4| 44.8548851013184|             42.7| 43.2220189082037|             69.1|   67.2595520019531|              89.5|             71.5|84.1371383666992|
| Afghanistan|         AFG|Adolescent fertil...|      SP.ADO.TFRT|           162.8354|           163.3822|            163.929|           164.1888|           164.4486|           164.7084|           164.9682|            165.228|           161.469|           157.71|          153.951|         150.192|         146.433|        140.6256|          134.8182|          129.0108|         123.2034|         117.396|         111.1414|         104.8868|          98.6322|          92.3776|           86.123|            81.7908|           77.4586|          73.1264|         68.7942|
| Afghanistan|         AFG|Age dependency ra...|      SP.POP.DPND|   101.018259850238|    100.96564733016|   100.870231727519|   100.902317661547|   100.887270633256|   100.510118469483|   101.294946055585|     102.0432616212|  102.595062024335| 102.975878585677| 103.326360073965| 102.92777291639|102.153958897486|101.200485082543|  100.159030259816|  99.0118309442354| 99.6320290466377|100.231023134586| 100.656496083108| 100.740812582094| 100.406411520766| 98.7307589652135| 96.5285898367748|   94.0017341230592|  91.3762048564238| 88.7687273393836|86.5709321507136|
| Afghanistan|         AFG|Agriculture, valu...|   NV.AGR.TOTL.ZS|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                ..|               ..|               ..|              ..|37.9388206159123|36.8630576799203|  29.3911956273162|  30.7879670650336| 28.2897383137567|29.7989655280121| 24.6938230129889| 29.1359284351699| 26.0782527819623| 23.5779686892153| 23.6436386470918|    22.587453161034|   22.009298022763| 20.5469658803948|20.9658976104561|
| Afghanistan|         AFG|Agriculture, valu...|NV.AGR.TOTL.KD.ZG|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                ..|               ..|               ..|              ..|              ..|2.79922332379998| -22.2374972096684|  17.6995562384091|-5.10828004564108|14.6947633410373|-14.9167175639132| 44.5654473278869|-6.37380492600464|-7.59086467916443| 18.2247894194574|0.00517080272992132|-0.100457250332653|-5.65736076451711|5.97175068925613|
| Afghanistan|         AFG|Agriculture, valu...|   NV.AGR.TOTL.KD|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                ..|               ..|               ..|              ..|3524250083.91464|3622901714.25262|  2817259046.63666|  3315901395.97778| 3146515866.63392|3608888926.72396| 3070561158.32921| 4438970474.01497| 4156039155.27831| 3840559846.98805| 4540493791.62985|   4540728571.60678|  4536167080.53868| 4279539743.91134|4535103188.06536|
| Afghanistan|         AFG|Air transport, re...|      IS.AIR.DPRT|               5300|               5300|               5300|               5100|               7000|               7300|               7500|               4600|              1900|             3400|             3409|              ..|              ..|              ..|                ..|                ..|               ..|              ..|               ..|               ..|            21677|            25021|            17775|              21696|             25920|            23532|           22770|
| Afghanistan|         AFG|Automated teller ...|   FB.ATM.TOTL.P5|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                ..|               ..|               ..|              ..|              ..|              ..|0.0158998816253813|0.0608522587027287|0.118134127568762|0.20881807028053| 0.30244953172372|0.452438933768698|0.532063581331937|0.620062869261023|0.642222417403469|  0.712434094736566| 0.758811362173521|0.929836662967983|1.07421538203442|
| Afghanistan|         AFG|Borrowers from co...|   FB.CBK.BRWR.P3|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                ..|               ..|               ..|              ..|              ..|              ..|                ..|                ..|               ..|              ..| 3.37976801136197| 3.98351915777259| 3.80232587604102| 3.66597788548973| 4.13750263311191|   3.76912673858008|   3.0250349722766| 2.95869751045318|3.05195383587665|
| Afghanistan|         AFG|Consumer price in...|      FP.CPI.TOTL|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                ..|               ..|               ..|              ..|              ..|              ..|  63.1318927309003|  71.1409742918197| 76.3021776776999|82.7748069188245| 108.066600010077| 99.1153588128686|              100| 110.201660141582| 118.156300027034|   127.200357275341|  133.057086584945| 132.117655626068|137.904563672559|
| Afghanistan|         AFG|Contributing fami...|SL.FAM.WORK.FE.ZS|                 ..|   49.4230003356934|   51.1469993591309|   60.9059982299805|   67.7409973144531|   61.0250015258789|   63.2309989929199|   65.4759979248047|  67.5370025634766| 69.4990005493164| 71.4240036010742|73.4860000610352|65.6699981689453| 65.640998840332|  67.1360015869141|  66.0830001831055|  65.818000793457|64.0849990844727| 64.2429962158203| 59.8839988708496| 58.7719993591309| 58.2750015258789|  56.298999786377|   56.4939994812012|   57.023998260498|  57.882999420166|58.0439987182617|
| Afghanistan|         AFG|Contributing fami...|SL.FAM.WORK.MA.ZS|                 ..|   20.3530006408691|   22.1450004577637|   24.1599998474121|   28.4379997253418|   30.5149993896484|   26.7329998016357|   27.7469997406006|  28.6620006561279| 29.4969997406006| 30.3470001220703|31.2970008850098|32.0190010070801|26.6070003509521|  25.9829998016357|  26.1499996185303| 25.2049999237061|24.6270008087158| 23.4890003204346| 23.2399997711182| 21.4340000152588| 20.8759994506836|  20.238000869751|   19.6849994659424|            19.625| 19.6340007781982|19.7749996185303|
| Afghanistan|         AFG|Contributing fami...|   SL.FAM.WORK.ZS|                 ..|   24.3330001831055|   26.0650005340576|   29.1599998474121|   33.7610015869141|   34.4519996643066|   31.5960006713867|   32.7369995117188|  33.7809982299805| 34.7550010681152| 35.7360000610352|36.9140014648438|36.3639984130859|31.8600006103516|   31.628999710083|  31.6509990692139| 30.7169990539551| 29.863000869751| 28.8610000610352| 28.0030002593994| 26.3419990539551| 25.9389991760254| 25.3050003051758|   25.0790004730225|  25.3409996032715| 25.7199993133545|26.0860004425049|
| Afghanistan|         AFG|CPIA economic man...|   IQ.CPA.ECON.XQ|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                ..|               ..|               ..|              ..|              ..|              ..|                ..|                ..| 3.33333333333333|3.16666666666667|              3.2| 3.33333333333333|                3|                3|                3|                  3|                 3|                3|               3|
| Afghanistan|         AFG|CPIA financial se...|   IQ.CPA.FINS.XQ|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                ..|               ..|               ..|              ..|              ..|              ..|                ..|                ..|                2|               2|              2.5|              2.5|                2|                2|                2|                  2|                 2|                2|               2|
| Afghanistan|         AFG|CPIA gender equal...|   IQ.CPA.GNDR.XQ|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                ..|               ..|               ..|              ..|              ..|              ..|                ..|                ..|                2|               2|                2|                2|                2|                2|                2|                1.5|               1.5|              1.5|             1.5|
| Afghanistan|         AFG|CPIA macroeconomi...|   IQ.CPA.MACR.XQ|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                ..|               ..|               ..|              ..|              ..|              ..|                ..|                ..|                4|             3.5|              3.5|              3.5|              3.5|              3.5|              3.5|                3.5|               3.5|              3.5|             3.5|
| Afghanistan|         AFG|CPIA policies for...|   IQ.CPA.SOCI.XQ|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                ..|               ..|               ..|              ..|              ..|              ..|                ..|                ..|              2.3|             2.3|              2.5|              2.6|              2.6|              2.7|              2.7|                2.6|               2.6|              2.6|             2.6|
| Afghanistan|         AFG|CPIA property rig...|   IQ.CPA.PROP.XQ|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                ..|               ..|               ..|              ..|              ..|              ..|                ..|                ..|              1.5|             1.5|              1.5|              1.5|              1.5|              1.5|              1.5|                1.5|               1.5|              1.5|               2|
| Afghanistan|         AFG|CPIA social prote...|   IQ.CPA.PROT.XQ|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                 ..|                ..|               ..|               ..|              ..|              ..|              ..|                ..|                ..|                2|               2|              2.5|              2.5|              2.5|              2.5|              2.5|                2.5|               2.5|              2.5|             2.5|
+------------+------------+--------------------+-----------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+------------------+-----------------+-----------------+----------------+----------------+----------------+------------------+------------------+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-------------------+------------------+-----------------+----------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- Country Name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Series Name: string (nullable = true)
 |-- Series Code: string (nullable = true)
 |-- 1990 [YR1990]: string (nullable = true)
 |-- 1991 [YR1991]: string (nullable = true)
 |-- 1992 [YR1992]: string (nullable = true)
 |-- 1993 [YR1993]: string (nullable = true)
 |-- 1994 [YR1994]: string (nullable = true)
 |-- 1995 [YR1995]: string (nullable = true)
 |-- 1996 [YR1996]: string (nullable = true)
 |-- 1997 [YR1997]: string (nullable = true)
 |-- 1998 [YR1998]: string (nullable = true)
 |-- 1999 [YR1999]: string (nullable = true)
 |-- 2000 [YR2000]: string (nullable = true)
 |-- 2001 [YR2001]: string (nullable = true)
 |-- 2002 [YR2002]: string (nullable = true)
 |-- 2003 [YR2003]: string (nullable = true)
 |-- 2004 [YR2004]: string (nullable = true)
 |-- 2005 [YR2005]: string (nullable = true)
 |-- 2006 [YR2006]: string (nullable = true)
 |-- 2007 [YR2007]: string (nullable = true)
 |-- 2008 [YR2008]: string (nullable = true)
 |-- 2009 [YR2009]: string (nullable = true)
 |-- 2010 [YR2010]: string (nullable = true)
 |-- 2011 [YR2011]: string (nullable = true)
 |-- 2012 [YR2012]: string (nullable = true)
 |-- 2013 [YR2013]: string (nullable = true)
 |-- 2014 [YR2014]: string (nullable = true)
 |-- 2015 [YR2015]: string (nullable = true)
 |-- 2016 [YR2016]: string (nullable = true)

In [ ]:
valid_cell_0 = df[(df["Series Name"]=="Employers, female (% of female employment) (modeled ILO estimate)") ]
valid_cell_1 = valid_cell_0.select("Country Name","Series Name","2010 [YR2010]")
valid_cell_1.show()

+-------------------+--------------------+-----------------+
|       Country Name|         Series Name|    2010 [YR2010]|
+-------------------+--------------------+-----------------+
|        Afghanistan|Employers, female...|0.287000000476837|
|            Albania|Employers, female...|0.509999990463257|
|            Algeria|Employers, female...| 1.47000002861023|
|     American Samoa|Employers, female...|               ..|
|            Andorra|Employers, female...|               ..|
|             Angola|Employers, female...| 2.37400007247925|
|Antigua and Barbuda|Employers, female...|               ..|
|         Arab World|Employers, female...| 1.68518601347555|
|          Argentina|Employers, female...| 3.00200009346008|
|            Armenia|Employers, female...| 0.14300000667572|
|              Aruba|Employers, female...|               ..|
|          Australia|Employers, female...| 4.77500009536743|
|            Austria|Employers, female...| 2.62700009346008|
|         Azerbaijan|Employers, female...| 9.43400001525879|
|       Bahamas, The|Employers, female...| 2.54800009727478|
|            Bahrain|Employers, female...|0.611999988555908|
|         Bangladesh|Employers, female...|0.196999996900558|
|           Barbados|Employers, female...|0.620000004768372|
|            Belarus|Employers, female...|0.689999997615814|
|            Belgium|Employers, female...| 2.41199994087219|
+-------------------+--------------------+-----------------+
only showing top 20 rows

In [ ]:
Sub_Saharan_Africa = ["Angola", "Benin", "Botswana", "Burkina Faso", "Burundi", "Cape Verde", "Cameroon", "Central African Republic", "Chad", "Comoros", "the Democratic Republic of the Congo", "Republic of the Congo", 
                      "Cote d'Ivoire", "Djibouti", "Equatorial Guinea", "Eritrea", "Ethiopia", "Gabon", "Gambia", "Ghana", "Guinea", "Guinea-Bissau", "Kenya", "Lesotho", "Liberia", "Madagascar", "Malawi", "Mali", "Mauritania", 
                      "Mauritius", "Mozambique", "Namibia", "Niger", "Nigeria", "Rwanda", "Sao Tome and Principe", "Senegal", "Seychelles", "Sierra Leone", "Somalia", "South Africa", "South Sudan", "Sudan", "Swaziland", 
                      "Tanzania", "Togo", "Uganda", "Zambia", "Zimbabwe"]

Europe = ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czechia', 'Denmark',
   'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland',
   'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands',
   'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden']


Central_Asia = [Kazakhstan, Kyrgyzstan, Tajikistan, Turkmenistan, Uzbekistan] #自己加引号

NameError: ignored

In [ ]:
valid_cell_1.printSchema()

root
 |-- Country Name: string (nullable = true)
 |-- Series Name: string (nullable = true)
 |-- 2010 [YR2010]: string (nullable = true)

In [ ]:
valid_cell_SSA = valid_cell_1[valid_cell_1["Country Name"].isin(Sub_Saharan_Africa)]
valid_cell_SSA.show()

+--------------------+--------------------+------------------+
|        Country Name|         Series Name|     2010 [YR2010]|
+--------------------+--------------------+------------------+
|              Angola|Employers, female...|  2.37400007247925|
|               Benin|Employers, female...| 0.538999974727631|
|            Botswana|Employers, female...|  2.57100009918213|
|        Burkina Faso|Employers, female...| 0.289000004529953|
|             Burundi|Employers, female...| 0.398000001907349|
|            Cameroon|Employers, female...|  3.26699995994568|
|Central African R...|Employers, female...| 0.574000000953674|
|                Chad|Employers, female...|0.0820000022649765|
|             Comoros|Employers, female...|  4.36600017547607|
|       Cote d'Ivoire|Employers, female...| 0.648000001907349|
|            Djibouti|Employers, female...|  1.29700005054474|
|   Equatorial Guinea|Employers, female...|  2.43300008773804|
|             Eritrea|Employers, female...|  1.50100004673004|
|            Ethiopia|Employers, female...| 0.133000001311302|
|               Gabon|Employers, female...|  1.40699994564056|
|               Ghana|Employers, female...|   4.3769998550415|
|              Guinea|Employers, female...|  1.32000005245209|
|       Guinea-Bissau|Employers, female...| 0.628000020980835|
|               Kenya|Employers, female...|  7.00500011444092|
|             Lesotho|Employers, female...| 0.433999985456467|
+--------------------+--------------------+------------------+
only showing top 20 rows

In [ ]:
print(type(valid_cell_SSA))
SSA = valid_cell_SSA.sort(['2010 [YR2010]'], ascending=[0])
SSA.show()

#DataFrame.sort_values(by[, ascending, …])  Sort by the values along either axis. #版本问题，colab 用不了

<class 'pyspark.sql.dataframe.DataFrame'>
+-----------------+--------------------+----------------+
|     Country Name|         Series Name|   2010 [YR2010]|
+-----------------+--------------------+----------------+
|            Kenya|Employers, female...|7.00500011444092|
|            Ghana|Employers, female...| 4.3769998550415|
|          Comoros|Employers, female...|4.36600017547607|
|         Cameroon|Employers, female...|3.26699995994568|
|     South Africa|Employers, female...| 2.8510000705719|
|      South Sudan|Employers, female...|2.63299989700317|
|     Sierra Leone|Employers, female...|2.59999990463257|
|         Botswana|Employers, female...|2.57100009918213|
|Equatorial Guinea|Employers, female...|2.43300008773804|
|           Angola|Employers, female...|2.37400007247925|
|           Uganda|Employers, female...|2.01500010490417|
|            Sudan|Employers, female...|1.92999994754791|
|       Mauritania|Employers, female...|1.82700002193451|
|        Mauritius|Employers, female...|1.79499995708466|
|          Liberia|Employers, female...|1.77999997138977|
|          Eritrea|Employers, female...|1.50100004673004|
|            Gabon|Employers, female...|1.40699994564056|
|          Senegal|Employers, female...| 1.3400000333786|
|           Guinea|Employers, female...|1.32000005245209|
|         Djibouti|Employers, female...|1.29700005054474|
+-----------------+--------------------+----------------+
only showing top 20 rows

In [ ]:
SSA_best = SSA.first()
print(SSA_best)

Row(Country Name='Kenya', Series Name='Employers, female (% of female employment) (modeled ILO estimate)', 2010 [YR2010]='7.00500011444092')